# Python / build
__pycache__/
*.pyc
dist/
build/

# Virtual environment
.venv/
venv/
ENV/
env/

# Envs and secrets
.env
cookies/
cookies.txt

# Data artifacts
data/raw_audio/
data/transcripts/
data/vector_store/
data/indices/

# Logs
logs/*.log

# VS Code
.vscode/
